.app {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;

    font-size: calc(10px + 2vmin);
    color: white;
  }

  .row {

    justify-content: center;
  }
  
  .timer {
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
    margin: 0.5em;
  }
  
  .button {
    padding: .6rem 1.5rem;
    margin: .4rem;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    border-style: groove;
  }
  
  .button:focus {
    outline-width: 0;
  }
  
  .button-primary:hover {
    background-color: #4c1fd1;
    border: 1px solid #4c1fd1;
  }
  
  .button-primary-active {
    background-color: #4c1fd1;
    border: 1px solid #4c1fd1;
    color: white;
  }
  
  .button-primary-inactive {
    background-color: #4c1fd1;
    border: 1px solid #152684;
    color: white;
  }