.viewProfileHi {
    font-size: 30px !important;
    text-align: center;
  
  }
  
.textData {
    text-align: center;
    font-size: 25px;
}

    
.mlf-photoProfile {

    align-items: center !important;
    justify-content: center !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}

    
